extends layout

block content
    h1= title
    script.
        function button1_click() {
            document.getElementById('form1').submit();
            document.getElementById('bt1').onclick = "Done()";
        }
    form#form1(action='creatboard_submit', method='GET')
        table.type01
            tbody
                tr
                    th(scope='row') 제목
                    td
                        input(type='text', name='tittle')
                tr
                    th(scope='row') 내용
                    td
                        input(type='text', name='content')
        .wrap
            a.button#bt1(href='#', type='button', onclick="button1_click()") 글 작성

