extends layout

block content
    h1= title

    form#form1(action='repairboard_submit', method='GET')
        input(type='text', name='id', value= board_id, style='display:none')
        input(type='text', name='collection', value= board_collection, style='display:none')
        table.type01
            tbody
                tr
                    th(scope='row') 제목
                    td
                        input(type='text', name='tittle', value= board_title)
                tr
                    th(scope='row') 내용
                    td
                        input(type='text', name='content', value= board_content)
        .wrap
            a.button(href='#', onclick="document.getElementById('form1').submit()") 수정


